body{
    background-color: #aaa;
}
h1{
   
    width: 260px;
    padding: 5px;
    margin: auto;
    border-bottom: 5px solid #999;
}
nav ul{
    display: flex;
    list-style: none;
    background: #000;
    padding: 5px;
    justify-content: center;
    border-left: 20px solid white;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: x-large;
    margin-right: 30px;
}

.container{
    display: flex;
    justify-content: space-between;
}
.box {
    width: 45%;
    padding: 10px;
    background-color: lightgray;
    margin: 5px;
}

.box h2{
    
    border-bottom: 3px solid #999;
    width: max-content;
    margin: auto;
    margin-bottom: 7px;
}
h2{
    border-bottom: 3px solid #999;
    width: max-content;
    margin: auto;
    margin-bottom: 7px;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Elimina los espacios entre los bordes de las celdas */
    margin: 20px 0;
  }

  /* Estilos para las celdas de la tabla */
  th, td {
    padding: 12px 15px; /* Espaciado dentro de las celdas */
    border: 1px solid #ddd; /* Borde de las celdas */
    text-align: left; /* Alineación del texto */
  }

  /* Estilo para el encabezado de la tabla */
  th {
    background-color: #666; /* Color de fondo */
    color: white; /* Color del texto */
  }